$primary1: #181818;
$primary2: #212121;
$primary3: #3d3d3d;
$secondary1: #aaaaaa;
$secondary2: #d99b61;
$secondary3: #0084b4;
$secondary4: #76c5f5;
$secondary5: #e8f5fd;
$light: #f4f4f4;
$success: #66ff66;
$success2: #559900;
$umber: #ff9966;
$danger: #cc181e;
$danger2: #ac362e;
$max-width: 1100px;

// Set text color based on the background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $primary1;
  } @else {
    @return $secondary1;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Margin & padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // All around padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
