.form-container {
  margin: auto;
  width: 80%;

  h1 {
    text-align: center;
  }

  .form {
    &-group {
      margin: 1.2rem 0;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid $primary4;
      background-color: transparent;
      color: $light;

      &:focus {
        outline: 1px solid $secondary2;
      }
    }
  }

  .text-light:hover {
    color: $secondary2;
  }
}
