.form-container {
  margin: auto;
  width: 80%;

  h1 {
    text-align: center;
  }

  .form {
    &-group {
      position: relative;
      margin: 1.2rem 0;

      select {
        background-image: url(../src/img/arrow.png);
        background-repeat: no-repeat;
        background-size: 1.8rem;
        cursor: pointer;
        line-height: 1.2;
        background-color: $primary1;
        background-position: right 1rem top 50%;

        &:focus,
        &:hover {
          outline: none;
          border: 1px solid $secondary2;
        }

        option {
          background-color: $primary3;
        }
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid $primary4;
      background-color: transparent;
      color: $light;

      &:focus {
        outline: 1px solid $secondary2;
      }
    }

    input[type='submit'] {
      font: inherit;
    }
  }
}

.text-secondary2:hover {
  color: darken($secondary2, 5%);
}

.social-input {
  display: flex;

  i {
    padding: 0.5rem;
    width: 4rem;

    &.fa-twitter {
      color: #38a1f3;
    }

    &.fa-facebook {
      color: #3b5998;
    }

    &.fa-youtube {
      color: #c4302b;
    }

    &.fa-linkedin {
      color: #0077b5;
    }

    &.fa-instagram {
      color: #b500ff;
    }
  }
}
