@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 10rem;
  }

  // Text Styles
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  // Navbar
  .navbar {
    display: block;
    text-align: center;

    ul {
      text-align: center;
      justify-content: space-between;

      i {
        font-size: 20px;
      }
    }

    i {
      margin-bottom: 1rem;
    }
  }

  .dashboard {
    .dash-buttons {
      .btn {
        display: block;
        width: 100%;
        margin-bottom: 0.3rem;
        text-align: center;
      }
    }
  }

  // Profiles
  .profiles-container {
    .profile {
      grid-template-columns: 1fr;
      text-align: center;

      img {
        width: 200px;
        height: 200px;
      }

      ul {
        display: none;
      }
    }
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about {
    .skills {
      flex-direction: column;
    }
  }

  // Posts page
  .posts {
    // Post item
    .post {
      grid-template-columns: 1fr;

      img {
        width: 200px;
      }
    }
  }

  // Post Discussion page
  .post-discussion {
    width: 100%;

    // Post item
    .post {
      grid-template-columns: 1fr;
      text-align: center;

      img {
        width: 200px;
      }
    }

    // Comment form
    .comment-form {
      width: 100%;
    }

    // Comment item
    .comment-item.post {
      width: 100%;

      img {
        width: 200px;
      }
    }
  }
}
