// Profiles page
.profiles-container {
  h1 {
    text-align: center;
    margin: 10px 0 20px;
  }

  // profileItem
  .profile {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    border-radius: 150px;
    color: $secondary5;

    img {
      width: 150px;
      height: 150px;
    }

    ul {
      background-color: $primary3;
      padding: 10px 60px;
      border-radius: 1500px;
      margin-right: 50px;
      text-align: center;
    }
  }
}

// Profile page
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';

  .profile-top {
    margin-top: 3rem;
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $primary2;

    img {
      width: 250px;
    }

    .icons {
      a {
        color: $light;
        margin: 0 0.3rem;

        &:hover {
          color: $secondary1;
        }
      }
    }
  }

  .profile-about {
    grid-area: about;
    text-align: center;
    color: $light;

    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      i {
        color: $success2;
      }
    }
  }

  .profile-exp {
    grid-area: exp;
  }

  .profile-edu {
    grid-area: edu;
  }

  .profile-exp,
  .profile-edu {
    margin-top: 2rem;
    & > div {
      margin: 1rem 0;
      padding: 1rem 0;
      border-bottom: 1px $primary5 dotted;

      &:last-child {
        border: none;
      }
    }

    p {
      margin: 0.5rem 0;
      color: $primary4;
    }
  }

  .profile-github {
    grid-area: github;
    margin-top: 1rem;
    .repo {
      display: flex;
      color: $primary4;

      & > div:first-child {
        flex: 7;
        flex-basis: 70%;
      }

      & > div:last-child {
        flex: 3;
        flex-basis: 20%;
      }
    }
  }
}
