@import 'config';
@import 'utils';
@import 'form';
@import 'alert';
@import 'profiles';
@import 'dashboard';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $primary1;
  color: $secondary1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1rem 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  border-bottom: solid 0.1px $secondary1;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: $light;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $secondary2;
    }
  }

  img {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;

    &:hover {
      color: $secondary2;
    }
  }
}

// Landing
.landing {
  position: relative;
  background: url('../src/img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;

  .logo {
    .logoName {
      width: 18rem;
      height: 4rem;
      white-space: nowrap;
      margin-right: 10px;
    }
    .logoIcon {
      width: 4rem;
      height: 4rem;
    }
  }

  &-inner {
    color: $light;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// Posts page
.posts-header {
  h1 {
    text-align: center;
    margin-bottom: 5rem;
  }

  p {
    margin: auto;
    width: 80%;
  }
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;

  & > div:first-child {
    text-align: center;
  }
}
