.dashboard {
  border: 1px solid $primary6;
  border-bottom: none;
  border-top: none;
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto;

  h1 {
    color: $secondary3;
  }

  .dash-buttons {
    margin-top: 3rem;
  }
}
